<section>

<p><p id="title">{{title}}</p> <p id="url"> {{url}}</p></p>
<button class="bookmark-edit-button">edit</button> <button class="bookmark-delete-button"> delete</button>

<form class="bookmark-edit-form">
  <textarea class="bookmark-title" rows="2" cols="50" type="text"> {{title}} </textarea>
  <textarea class="bookmark-url" type="text"> {{url}}</textarea>
  
  <input type="reset" value="cancel">
  <input type="submit" value="save">
</form>

</section>
