@import '../bower_components/pure/pure';
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

body {
  background-image: url("../../12819-NOLG50.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  @include outer-container;
}

ul {
  list-style-type: none;
  margin-top: 150px;
  @include span-columns(6);
  @include shift(1);

}

li {
  padding-bottom: 20px;
}

#title {
  font-size: 35px;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  line-height: 15px;

}

#url {
  color: white;
}

.bookmark-title {
  @include span-columns(9);
  margin-bottom: 10px;
  margin-top: 10px;
}

.bookmark-url{
  @include span-columns(9);
  margin-bottom: 10px;
}

input {
  @include span-columns(3);
}

.bookmark-edit-form {
  max-height: 0;
  overflow: hidden;
}

.bookmark-edit-form.active {
  max-height: 1000px;
}
